python-dotenv
pandas
numpy
pymongo
certifi
pymongo
scikit-learn
mlflow
pyaml
dagshub
fastapi
uvicorn
python-multipart

# Monitoring + explainability dashboard
scipy
streamlit==1.40.0
altair==4.2.2
shap
matplotlib


##-e .